 
.UIToolbarContainer ul {
    padding: 0px;
	margin: 0px;
	list-style: none;
}

.UIToolbarContainer .UIUserToolBarDesktopPortlet .UITab {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIToolbarContainer .UserToolBarDesktopPortletTDContainer  {
	!float: none; /* orientation=rt */
	position: relative; /* orientation=lt */
}

.UIToolbarContainer .UIWebOSAdminToolbarPortlet .UITab {
    float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}