.UIPageDesktop {
	position: relative ;
	overflow: hidden ;
	background: #aaaaaa url('background/eXoDesktopBG.jpg') repeat-x left top;
}

.UIPageDesktop .UIWindow {
	width: 800px ; 
}
	
.UIPageDesktop .UIWindow .UIApplication {
	height: 350px ;
}

.UIPageDesktop #UIDesktopContextMenu .UIRightClickPopupMenu .MenuItem .ItemIcon {
	height: 16px;
}

.UIPageDesktop .UIDockBar {
  position: absolute;
  bottom: 0px;
  margin: auto;
  z-index: 9999;
  cursor: pointer;
}

.UIPageDesktop .UIDockBar .Icon {
  height: 40px ;
  vertical-align: bottom;
}

.UIPageDesktop .UIDockBar .ShowIcon {
	background: url('background/Indicator.png') no-repeat center bottom;
}

.UIPageDesktop .UIDockBar .IconControl {
  width: 40px ; height: 40px ;
}

.UIPageDesktop .UIDockBar .DockbarLeft {
  background: url('background/LeftDockbar.png') no-repeat left bottom;
  padding: 0px 0px 0px 48px ;
}

.UIPageDesktop .UIDockBar .DockbarRight {
  background: url('background/RightDockbar.png') no-repeat right bottom;
  padding: 0px 48px 0px 0px ;
}

.UIPageDesktop .UIDockBar .DockbarCenter {
  height: 47px ;
  background: url('background/CenterDockbar.png') repeat-x bottom;
}

.UIPageDesktop .UIDockBar .IconContainer {
  vertical-align: bottom ;
	padding: 3px 0px 0px 0px;
  margin: auto ;
}

.UIPageDesktop .UIDockBar .Separator {
	width: 2px; 
	height: 28px; 
	margin: 0px 5px ;
	vertical-align: bottom;
}

.UIPageDesktop .UIDockBar .Tooltip {
	background: #204157 ;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-box-border-radius: 5px;
	border-radius: 5px;
	line-height: 20px ;
	white-space: nowrap ;
	position: absolute ;
	padding: 2px 5px ;
	color: #fff;
	border: solid 1px #8fb1c7 ;
}

.UIPageDesktop .MoveResizeArea {
  float: right ;
  width: 12px ; height: 18px ;
  background: blue ; 
  cursor: nw-resize ;
}

.UIPageDesktop .UIWindow .UIFormInputSet {
	width: auto;
}

/* UIRightClickPopupMenu  */
.UIDockBar .UIRightClickPopupMenu .UIRightPopupMenuContainer {
	background: #fff;
	margin:0px;
	padding: 5px;
	border: 1px solid #e0e0e0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-box-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #c5c5c5;
	_width: 230px;
}

.UIDockBar .UIRightClickPopupMenu .ClickCenterBottom {
	background: url('background/PageDesktop.png') no-repeat left top; /* orientation=lt */
	background: url('background/PageDesktop-rt.png') no-repeat right top; /* orientation=rt */
	width: 16px;  height: 8px;
	margin: -1px 0px 0px 30px; /* orientation=lt */
	margin: -1px 30px 0px 0px; /* orientation=rt */
}

.UIDockBar .UIContextMenuContainer {
	background: url('images/bg.png') no-repeat;
	border: none;
	position: absolute; 
	left: -40px; 
	top: -10px;
}

.UIDockBar .UIRightClickPopupMenu .MenuItem  {
	border-bottom: 1px solid #e0e0e0;
}

.UIDockBar .UIRightClickPopupMenu .Last  {
	border-bottom: none;
}

.UIDockBar .UIRightClickPopupMenu .MenuItem .ItemIcon {
	background: none;
	padding: 5px;
	color: #616161;
}

.UIDockBar .UIRightClickPopupMenu .MenuItem .ItemIcon:hover {
	background: #f5f5f5;
}

/* UIDesktopContextMenu  */
.UIDesktopContextMenu .UIContextMenuContainer {
	background: #fff;
	margin:0px;
	padding: 5px;
	border: 1px solid #e0e0e0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-box-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #c5c5c5;
}

.UIDesktopContextMenu .MenuItem  {
	border-bottom: 1px solid #e0e0e0;
}

.UIDesktopContextMenu .Last  {
	border-bottom: none;
}

.UIDesktopContextMenu .MenuItem .ItemIcon {
	background: none;
	padding: 5px 0px 5px 5px;
	color: #616161;
}

.UIDesktopContextMenu .MenuItem .ItemIcon:hover {
	background: #f5f5f5;
}

.UIBackgroundImageList .UITabContentContainer {
	padding: 10px;
	background: none;
	border: none;
}

.UIBackgroundImageList .UITabPane .TabPaneContent {
	padding: 0;
	border: 1px solid #d4d4d4;
	border-top: none;
}

.UIBackgroundImageList .UITabPane .HorizontalLayout {
	border: 1px solid #FFF;
	border-top: none;
}

.UIBackgroundImageList .ChooseIcon {
	width: 16px; height: 16px;
	background: url('icons/16x16/ChooseIcon.png');
}

.UIBackgroundImageList .PreviewIcon {
	width: 16px; height: 16px;
	background: url('icons/16x16/PreviewIcon.png');
}

.UIBackgroundImageList .SetDefault {
	text-align: right;
	padding: 0px 20px;
}

.UIBackgroundImageList .SetDefault a {
	color: #058EE6;
	text-decoration: underline;
}

.UIBackgroundImageList .SetDefault a:hover {
	text-decoration: none;
}

.UIBackgroundUploadForm .UIFormUploadInput {
	width: 320px;
}

.UIBackgroundUploadForm .HorizontalLayout .MultiValueContainer .AddNewNodeIcon {
	margin: 4px 0 0;
}