
/**************************** UIAddApplication ******************************************/

.UIAddApplication {
	padding: 10px;
}

.UIAddApplication .TitleBarContainer {
	background: #f6f6f6;
}

.UIAddApplication .UITabContent {
	overflow: hidden;
}

.UIAddApplication .UITabContentContainer {
	padding-bottom: 5px;
	border: none;
}

.UIAddApplication .UITabContentContainer .NoneAppsMessage{
	padding: 10px;
	text-align: center;
	color: gray;
	width: 300px;
	margin: 40px auto 0px auto;
}

.UIAddApplication .ContentContainerDetail {
	border: 1px solid #d4d4d4;
	border-top: none;	
}

.UIAddApplication .ContentContainerDetail .CategoryContainer {
	border: 1px solid white;
	border-top: none;
}

.UIAddApplication .ApplicationListContainer {
	height: 240px; width: 439px;
	border: 1px solid #c3c3c3;
	background: white;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px 10px;
}

.UIAddApplication .Application {
	margin: 10px 0px 0px 0px;
	border: solid 1px #e4e4e4;
	padding: 10px;
}

.UIAddApplication .ApplicationContent {
	margin-left: 85px; /* orientation=lt */
	margin-right: 85px; /* orientation=rt */
}

.UIAddApplication .PortletIcon {
	background: none;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 80px; height: 80px;
	cursor: pointer;
	margin-top: 2px;
}

.UIAddApplication .TitleBarApplication {
	background: none;
	width: 93%; height: 20px;
	color: #1553B9; font-weight: bold;
	border-bottom: 1px solid #dfdfdf;
	padding: 0px 1px 3px 1px;
	margin: 0px auto 5px auto;
}

.UIAddApplication .TitleBarApplication .Title {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin-top: 4px;
	font-weight: bold; font-size: 13px; color: #1553B9; font-family: arial;
}

.UIAddApplication .AddButton {
	width: 20px; height: 24px;
	background: url('background/AddApplicationButton.gif') no-repeat top;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	cursor: pointer;
	margin: 0px 3px;
}

.UIAddApplication .SelectButton {
	width: 20px; height: 24px;
	background: url('background/AddApplicationButton.gif') no-repeat left -22px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	cursor: pointer;
	margin: 0px 3px;
}

.UIAddApplication .ApplicationContentLabel {
	line-height: 16px;
	width: 93%; margin: auto;
}

.UIAddApplication .ApplicationContentLabel .RightLabel {
	color: #058ee6;
}

.UIAddApplication .UIItemSelector .LeftColumnStyle {
	width: auto;
}

.UIAddApplication .UIItemSelector .ItemListContainer .ItemList {
	height: 240px;
	overflow: auto;
	background: #ffffff;
	border: 1px solid #c3c3c3;
	text-transform: capitalize;
}

.UIAddApplication .UIItemSelector .ItemDetailList .ItemDetail {
	background: none;
	border: none;
	height: auto;
}

.UIAddApplication .UIItemSelector {
	padding: 7px 5px 8px 7px; /* orientation=lt */
	padding: 7px 7px 8px 5px; /* orientation=rt */
	margin: 0px;
	background: #f7f7f7;
}

.UIAddApplication .ApplicationItemIcon {
	width: 16px; height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DarkBlueNextArrow.gif') no-repeat;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 3px 5px 0px 5px;
}

.UIAddApplication .LeftColumnStyle .ItemListIcon {
	background: none;
	width: 0px;
}

.UIAddApplication .LeftColumnStyle .ViewListIcon {
	background: none;
	width: 0px;
}